@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.leaderboardPage
{
    width: 100vw;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
    justify-content: space-around;
}

.leaderboardTable
{
    overflow-x: auto;
    width: 80%;
    height: 80vh;
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 1, 10, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1.5rem;
    border: 5px solid rgba(255, 255, 255, 0.18);
}

.Title
{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: white;
}

.contestSearchBox
{
    width: 40%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 1, 10, 0.37);
    height: 5rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sortByInstitute
{
    background-color: white;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    width: 30%;
}

.searchForPerson
{
    background-color: white;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    width: 60%;
}

@media screen and (max-width: 991px){
    .contestSearchBox
    {
        width: 80%;
        height: 4rem;
    }
    .sortByInstitute, .searchForPerson
    {
        height: 2.5rem;
    }
    .Title
    {
        font-size: 3rem;
    }
}